footer {
    margin-left: 20%;
    font-family: 'Maitree', serif;
    background-image: $fourth-background-image;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    .contact {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            width: 80%;
            color: #FFFFFF;
            text-decoration: solid;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            img {
                background-image: $secondary-background-image;
                border-style: dotted;
                border-color: #303030;
                border-radius: 40%;
                padding: 10px;
                width: 25px;
                height: 25px;
            }
        }
    }
    .suivre {
        display: flex;
        flex-direction: column;
        width: 10%;
        align-items: center;
        justify-content: space-evenly;
        a {
            img {
                background-image: $secondary-background-image;
                border-style: dotted;
                border-color: #303030;
                border-radius: 40%;
                padding: 10px;
                width: 30px;
                height: 30px;
                }
        }
        
    }
    .entreprise {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h6 {
            font-size: 55px;
            font-family: "Italianno", cursive;
            white-space: pre-line;
            text-align: center;
            line-height: 25px;
            color: #e2d1c3;
            text-shadow: 1px 10px 4px black;
            margin: 0;
            span {
                font-family: "Amiri", serif;
                font-size: 25px;
            }
        }
        p {
            text-align: center;
            margin: 0;
        }
    }
    .copyright {
        align-self: flex-end;
        text-align: center;
    }
}
.haut {
    position: fixed;
    right: 50px;
    bottom: 50px;
    img {
        height: 30px;
        width: 30px;
        background-image: $secondary-background-image;
        border-style: dotted;
        border-color: #303030;
        border-radius: 40%;
        padding: 10px;
    }
}
@media screen and (max-width: 1350px) {
    footer {
        .contact {
            width: 30%;
            a {
                padding: 10px 0;
                img {
                    padding: 5px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .suivre {
            width: 20%;
            a {
                img {
                    width: 20px;
                    height: 20px;
                    padding: 10px;
                }
            }
        }
        .entreprise {
            width: 40%;
            h6 {
                font-size: 40px;
                span {
                    font-size: 20px;
                }
            }
            p {
                font-size: 12px;
            }
        }
    }
}
@media screen and (max-width: 840px) {
    footer {
        .contact {
            a {
                padding: 10px 0;
                font-size: 10px;
                img {
                    width: 10px;
                    height: 10px;
                    padding: 5px;
                }
            }
        }
        .suivre {
            width: 30%;
            a {
                img {
                    height: 10px;
                    width: 10px;
                    padding: 5px;
                }
            }
        }
        .entreprise {
            width: 30%;
            h6 {
                font-size: 30px;
                span {
                    font-size: 20px;
                }
            }
            p {
                font-size: 8px;
            }
        }
    }
}