section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20%;
    gap: 20px;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    article:nth-child(1) {
        @include article;
    }
    article:nth-child(2) {
        @include article;
    }
    article:nth-child(3) {
        @include article;
    }
    article:nth-child(4) {
        @include article;
    }
    article:nth-child(5) {
        @include article;
    }
    article:nth-child(6) {
        @include article;
    }
    article:nth-child(7) {
        @include article;
    }
    article:nth-child(8) {
        @include article;
    }
    article:nth-child(9) {
        @include article;
    }
    article:nth-child(10) {
        @include article;
    }
    article:nth-child(11) {
        @include article;
    }
    article:nth-child(12) {
        @include article;
    }
    article:nth-child(13) {
        @include article;
    }
    article:nth-child(14) {
        @include article;
    }
    article:nth-child(15) {
        @include article;
    }
    article:nth-child(16) {
        @include article;
    }
    article:nth-child(17) {
        @include article;
    }
    article:nth-child(18) {
        @include article;
    }
}   