section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20%;
    gap: 20px;
    justify-items: center;
    padding: 20px;
    article {
        @include article;
    }
    article:hover {
        transform: translate(-5px, -5px);
        box-shadow: 10px 10px 5px 0 #E2D1C3;
    }
}
@media screen and (max-width: 1350px)  {
    section {
        grid-template-columns: 1fr 1fr,
    }
}
@media screen and (max-width: 840px)  {
    section {
        grid-template-columns: 1fr;
        margin-left: 5%;
        transition: all 0.5s ease;
    }
    section.open {
        margin-left: 20%;
    }
}