section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 20%;
    article {
        img {
            width: 200px;
            height: 200px;
        }
    }
    article {

    }
    article {

    }
    article {

    }
    article {

    }
    article {

    }
    article {

    }
    article {

    }
    article {

    }
    article {

    }
    article {

    }
    article {

    }
}   