nav {
    max-width: 400px;
    height: 100%;
    background-image: $third-background-image;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
        width: 100%;
        height: 10%;
        background-image: $fourth-background-image;
        h1 {
            font-family: "Italianno", cursive;
            font-size: 75px;
            white-space: pre-line;
            text-align: center;
            line-height: 25px;
            color: #e2d1c3;
            text-shadow: 1px 10px 4px black;
            span {
                font-family: "Amiri", serif;
                font-size: 30px;
            }
        }
    }
    ul {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        li {
            padding: 30px 0;
            list-style-type: none;
            a {
                border-width: 2px;
                border-style: dashed;
                padding: 20px 40px;
                border-radius: 40%;
                background-image: $secondary-background-image;
                color: #303030;
                text-decoration: none;
                font-size: 25px;
            }
        }
    }
    iframe {
        height: 20%;
        padding: 0 15px;
    }
    .reseau {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a {
            img {
                background-image: $secondary-background-image;
                border-style: dashed;
                border-color: #303030;
                border-radius: 40%;
                padding: 20px;
                width: 30px;
            }
        }
    }
}
