$main-background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$secondary-background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
$third-background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
$fourth-background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
$fifth-background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);