$main-background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$secondary-background-image: linear-gradient(#E7F0FD 100%, #E7F0FD 100%);
$third-background-image: linear-gradient(#ACCBEE 100%, #ACCBEE 100%);
$fourth-background-image: linear-gradient(#6B8CCE 100%, #6B8CCE 100%);
$fifth-background-image: linear-gradient(#E2D1C3 100%, #E2D1C3 100%);
