body{
    display: flex;
    flex-direction: column;
    .f1{
        font-family: 'Maitree', serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 20%;
        input[type=radio] {
            margin-right: 5px;
        }
        .avistextep {
            font-weight: bold;
        }
        textarea {
            width: 80%;
            max-width: 100%;
        }
    }
}
@media screen and (max-width: 840px) {
    form.f1 {
        margin-left: 5%;
        transition: all 0.5s ease;
    }
    form.f1.open {
        margin-left: 20%;
    }
}