body{
    display: flex;
    flex-direction: column;
    color:  #333333;

    .f1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-direction: column;
        margin-left: 20%;
    }
}